.page-intro {
    display: flex;
    flex-direction: column;
}

.page-intro header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 22px 100px 0 100px;
    height: 20vh;
}

.page-intro header img {
    width: 80px;
    margin-right: 15px;
}

.page-intro header h1 {
    font-family: Kaushan Script;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
}

.page-intro section {
    width: 100vw;
}

.page-intro .principal {
    padding: 0 100px 0 100px;
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.page-intro .principal .pt1, .principal .pt2 {
    flex: 1;
}

.page-intro .principal .pt2  {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-intro .principal .pt2 img{
    width: 250px;
    align-items: center;
}

.page-intro .principal h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}

.page-intro .principal article {
    margin-top: 22px;
    width: 650px;
}

.page-intro .pt1 > .button {
    margin-top: 28px;
}

.page-intro .topicos > .button > button {
    background: #6F0101;
}

.page-intro .topicos > .button > button:hover {
    background: #ee090d;
}

.page-intro .topicos > .button {
    margin-top: 50px;
}

.page-intro .topicos {
    background: #BF0002;
    color: #000;
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-intro .topicos > h1 {
    margin-top: 40px;
    width: 100vw;
    text-align: center;
    font: 400 60px Rubik;
    color: #FFFFFF;
}

.page-intro .colunas {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 90vw;
    height: 70vh;
}

.page-intro .colunas > div:nth-child(n+1) {
    margin-right: 20px;
}

.page-intro .colunas > div:nth-last-child(1) {
    margin-right: 0px;
}

.page-intro .colunas > div {
    background: #FFFFFF;
    border-color: #FF6686;
    border-radius: 12px;
    padding: 30px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 25%;
    transition-duration: 500ms;
}

.page-intro .colunas > div > img {
    margin-top: 20px;
    width: 180px;
    height: 180px;
    object-fit: cover;
    object-position: top;
    border-radius: 100%;
}

.page-intro .colunas > div > h3 {
    font-family: Rubik;
    text-align: center;
    margin-top: 18px;
}

.page-intro .colunas > div > span {
    font: 400 16px Rubik;
    color: rgb(87, 87, 87);
    text-align: center;
    margin-top: 18px;
    width: 95%;
}

.page-intro footer {
    height: 200px;
    display: flex;
    flex-direction: row;
}

.page-intro .social-media {
    position: relative;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-intro .social-media > span {
    font: 300 16px Rubik;
    margin-bottom: 40px;
}

.page-intro .social-icon {
    display: flex;
    flex-direction: row;
}

.page-intro .social-icon > a > img {
    width: 28px;
    height: 28px;
}

.page-intro .colunas > div:hover {
    border: solid #FF6686;
    border-width: 1px;
    transform: translateY(-2%);
    transition-duration: 500ms;
}

@media (min-width: 1000px) {
    .page-intro .social-media {
        margin-top: 40px;
    }
    .page-intro .social-media > a > img {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 999px) {
    .page-intro > header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .page-intro .principal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        width: 100vw;
    }

    .page-intro .principal .pt1 {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .page-intro .principal .pt1 > h2 {
        font-size: 38px;
        text-align: center;
        width: 100vw;
    }

    .page-intro .principal .pt1 > article {
        font-size: 20px;
        text-align: center;
        word-wrap: break-word;
        width: 100vw;
    }

    .page-intro .principal .pt2 > img {
        width: 200px;
    }

    .page-intro .topicos {
        height: auto;
    }

    .page-intro .topicos > .colunas {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .page-intro .topicos > .colunas > div {
        width: 80%;
        margin-top: 20px;
        margin-right: 0;
    }

    .page-intro .topicos > .button {
        margin-bottom: 20px;
    }

    .page-intro footer .social-media {
        width: 100vw;
        align-items: center;
        justify-content: center;
    }
}