html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #6F0101;
}

.page-main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.main h1 {
    font-family: Kaushan Script;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;

    margin-bottom: 51px;
}

.main main {
    width: 90%;
    text-align: center;
}

.main main h2 {
    font-size: 28px;
    margin-bottom: 30px;
}

.main main section {
    font-size: 18px;
    margin-bottom: 10px;
}

.main .logo {
    width: 150px;
    height: 150px;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 15px;
    padding-bottom: 10px;
    margin-top: 20px;
}

.social-media img {
    width: 40px;
    height: 40px;
}

@media (min-width: 1000px) {
    body {
        overflow: hidden;
    }
    
    .main main {
        width: 70%;
    }
    .social-media img {
        width: 45px;
        height: 45px;
    }

    .page-main {
        align-items: flex-end;
    }
}