#page-subscription {
    width: 100vw;
    height: 100vh;
    background: #6F0101;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#page-subscription .logo {
    width: 98px;
    height: 98px;
    margin-top: 80px;
}

#page-subscription h1 {
    font-family: Kaushan Script;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 20px;
}

#page-subscription #subscription-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 280px;
    min-height: 250px;
    border-radius: 15px;
    background: #FFFFFF;
}

#page-subscription #subscription-form > .input-block:nth-child(n+2),
#page-subscription #subscription-form > .input-mask-block {
    margin-top: 15px;
}

#page-subscription #subscription-form > .input-block > input,
#page-subscription #subscription-form > .input-mask-block > input {
    border: solid gray 1px;
    border-radius: 10px;
}

#page-subscription #subscription-form > .input-block > input:focus,
#page-subscription #subscription-form > .input-mask-block > input:focus {
    outline: none;
    border-bottom: 2px solid #6F0101;
}

#page-subscription .button {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    margin-top: 20px;
}

#page-subscription .form-message {
    opacity: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 344px;
    height: 60px;

    background: #FFFFFF;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#page-subscription .inscricao-enviada {
    animation: fade 6s;
}

#page-subscription .form-message > img {
    width: 22.22px;
    height: 16px;
}

#page-subscription .form-message > span {
    color: #416D2A;
    font-size: 16px;
}

@keyframes fade {
    0%,
    100% {
        opacity: 0;
    } 50% {
        opacity: 1;
    }
}

@media (min-width: 1000px) {
    #page-subscription {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #page-subscription .logo {
        margin-top: 0px;
    }

    #page-subscription .form-message {
        margin-bottom: 10px;
    }

    #page-subscription img {
        margin-top: 0px;
    }
}
