* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #FFF;
    background: #6F0101;
}

body, input, button {
    font-family: Roboto, sans-serif;
    font-weight: 500;
}

body, input {
    font-size: 24px;
}
